<% @station_search.each do |station| %>
  <ul>
    <li>  <%= station.name %> </li>
    <li>  <%= station.address %> </li>
    <% station.fuel_types.each do |fuel_type| %>
      <ul>
        <li> fuel_type.name </li>
      </ul>
    <% end %>
    <li>  <%= station.distance %> </li>
    <li>  <%= station.access_times %> </li>
  </ul>
<% end %>
